<section class="header-content" id="registroestudiantes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Calendario de actividades</h2>
                <hr class="light">
				<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=es.spain%23holiday%40group.v.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FCosta_Rica" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Calendario de actividades</h2>
                <hr class="light">
				<div id='calendar'></div>				
            </div>
        </div>
	</div>
</section>