<section class="header-content" id="registroestudiantes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Eventos</h2>
                <hr class="light">
                <p>Ser parte de las actividades de voluntariado nos permite tener mas contacto con el medio ambiente e incentivar el compañerismo entre los estudiantes de la UNED.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12  text-left">
                <h1>Eventos</h1>
            </div>
            <div class="row" style="padding-top: 1em;">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1 text-left" style="background: darkgrey;">
                        <p>22 Agosto</p>
                    </div>
                    <div class="col-lg-8 text-left" style="background: grey">
                        <p>Gira Parque Ambiental R&iacute;o Loro</p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1 text-left">
                        <p>La actividad consiste en la participación de varios estudiantes de diferentes carreras, así como varios del grupo base de voluntarios. En la actividad se harán trabajos de limpieza de senderos, charlas ambientales como de reciclaje y residuos sólidos.</p>
                    </div>  
                </div>
            </div>

            <div class="row" style="padding-top: 1em;">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1 text-left" style="background: darkgrey;">
                        <p>12 Julio</p>
                    </div>
                    <div class="col-lg-8 text-left" style="background: grey">
                        <p>Gira Osa</p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1 text-left">
                        <p>La actividad contara con la participación de estudiantes de diferentes carreras con el fin de aprender e incentivar el cuidado y conservación de especies en peligro como son las tortugas marinas, adicionalmente se harán trabajos de limpieza de senderos y colaboración para pintar algunas de las instalaciones del refugio.</p>
                    </div>  
                </div>
            </div>

            <div class="row" style="padding-top: 1em;">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1 text-left" style="background: darkgrey;">
                        <p>3 Octubre</p>
                    </div>
                    <div class="col-lg-8 text-left" style="background: grey">
                        <p>Limpieza de Costas (Puntarenas)</p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1 text-left">
                        <p>En la actividad se realizara limpieza en las playas que consistirá en la limpieza de residuos como botellas plásticas, plástico en general, cartón, basura orgánica, entre otros.</p>
                    </div>  
                </div>
            </div>



        </div>
        <div class="row" style="padding-top: 1em;">
            <div class="col-lg-3 col-lg-offset-5 text-center" >
                <p>De la Rotonda La Betania 500m al este, Carretera a Sabanilla<br />
                    Mercedes de Montes de Oca<br />
                    ​​Tel: 2234-3236 ext. 3270</p>
                <a href="https://www.facebook.com"  style= "float: left;"> <img src="/static/img/facebook.png"  class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                <a href="https://www.tuitter.com"   style= "float: left;"> <img src="/static/img/tuitter.png"   class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                <a href="https://www.pinterest.com" style= "float: left;"> <img src="/static/img/pinterest.png" class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                <a href="https://www.flikr.com"     style= "float: left;"> <img src="/static/img/flikr.png"     class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                <a href="https://www.youtube.com"   style= "float: left;"> <img src="/static/img/youtube.png"   class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
            </div>
        </div>
    </div>
</section>