<section class="bg-primary" id="ingreso">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Iniciar sesi&oacute;n:</h2>
                <hr class="light">
                <form action="inicio">
                  Usuario: <input type="text" name="fname"><br>
                  Contrase&ntilde;a: <input type="text" name="lname"><br>
                  <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Entrar</a>
                </form>
                
            </div>
        </div>
    </div>
</section>

<section id=    "contactenos">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Contáctenos!</h2>
                <hr class="primary">
                <p>¿Está listo para dar el siguiente paso y formar parte de del campo que el planeta necesita?</p>
                <p>¡Haz que suceda!</p>
                <p>Nosotros te agradecemos el inter&eacute;s en la colaboraci&oacute;n para la conservaci&oacute;n del medio ambiente, e incentivar el trabajo en equipo. </p>
            </div>
            <div class="col-lg-3 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>2234-3236 ext. 3270</p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:grupo-de-recreacion@uned.ac.cr">grupo-de-recreacion@uned.ac.cr</a></p>
            </div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-map-o fa-3x sr-contact"></i>
                <p>De la Rotonda La Betania 500m al este<br />
                Carretera a Sabanilla<br />
                Mercedes de Montes de Oca</p>
            </div>
        </div>
    </div>
</section>