<section class="header-content" id="registroestudiantes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Registro de Estudiantes</h2>
                <hr class="light">
                <p>Ser parte de las actividades de voluntariado nos permite tener mas contacto con el medio ambiente e incentivar el compañerismo entre los estudiantes de la UNED.</p>
            </div>
        </div>
        <form action="inicio">
            <div class="row">
                <div class="col-lg-7 text-right">
                    Usuario: <input type="text" name="user"><br />
                    Contrase&ntilde;a: <input type="text" name="pass"><br />
                    Confirmaci&oacute;n contrase&ntilde;a: <input type="text" name="passconf"><br />
                    Nombre: <input type="text" name="nombre"><br />
                    Apellidos: <input type="text" name="apellidos"><br />
                    Edad: <input type="text" name="edad"><br />
                    Rol : <input type="text" name="rol"><br />
                </div>
            </div>
            <div class="row" style="padding-top: 1em;">
                <div class="col-lg-8 col-lg-offset-2 text-center" >
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Enviar</a>
                    <a href="https://www.facebook.com"> <img src="/static/img/facebook.png"  class="img-responsive" style="height: 32px; width: 32px;" alt=""></a>
                    <a href="https://www.tuitter.com">  <img src="/static/img/tuitter.png"   class="img-responsive" style="height: 32px; width: 32px;" alt=""></a>
                    <a href="https://www.pinterest.com"><img src="/static/img/pinterest.png" class="img-responsive" style="height: 32px; width: 32px;" alt=""></a>
                    <a href="https://www.flikr.com">    <img src="/static/img/flikr.png"     class="img-responsive" style="height: 32px; width: 32px;" alt=""></a>
                    <a href="https://www.youtube.com">  <img src="/static/img/youtube.png"   class="img-responsive" style="height: 32px; width: 32px;" alt=""></a>
                </div>
            </div>
        </form>
    </div>
</section>