<section class="header-content" id="registroestudiantes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Lista de asistencia por actividad</h2>
                <hr class="light">
                <p>Ser parte de las actividades de voluntariado nos permite tener mas contacto con el medio ambiente e incentivar el compañerismo entre los estudiantes de la UNED.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 text-right">
                <form action="inicio">
                    C&eacute;dula: <input type="text" name="user"><br />
                    Actividad: <input type="text" name="activity"><br />
                    Fecha: <input type="text" name="date"><br />
                    Coordinador: <input type="text" name="coordinator"><br />
                    Ubicación: <input type="text" name="place"><br />
                </form>
            </div>
        </div>
        <div class="row">
            <div id="voluntabla_contenedor" class="col-lg-5 col-lg-offset-2 text-right">
                <table id="voluntabla" class="display" cellspacing="2" width="100%">
                    <thead>
                        <tr>
                            <th>C&eacute;dula</th>
                            <th>Actividad</th>
                            <th>Fecha</th>
                            <th>Coordinador</th>
                            <th>Ubicación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="row" style="padding-top: 1em;">
            <div class="col-lg-8 col-lg-offset-2 text-center" >
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Enviar</a>
            </div>
        </div>
    </div>
</section>