<section class="header-content" id="registroestudiantes">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Retrospectiva de la actividad</h2>
                <hr class="light">
                <p>Ser parte de las actividades de voluntariado nos permite tener mas contacto con el medio ambiente e incentivar el compañerismo entre los estudiantes de la UNED.</p>
                <p>Tu opinión y experiencia en la actividad es importante para nosotros.</p>
            </div>
        </div>
        <form action="inicio">
            <div class="row">
                <div class="col-lg-7 text-right">
                    Nombre: <input type="text" name="user"><br />
                    Apellidos: <input type="text" name="pass"><br />
                    Carrera: <input type="text" name="passconf"><br />
                    Tel&eacute;fono: <input type="text" name="nombre"><br />
                    Fecah de la actividad: <input type="text" name="apellidos"><br />
                    Experiencia: <input type="text" name="edad"><br />
                </div>
            </div>
            <div class="row" style="padding-top: 1em;">
                <div class="col-lg-8 col-lg-offset-2 text-center" >
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Enviar</a>
                </div>
            </div>
        </form>
            <div class="row" style="padding-top: 1em;">
                <div class="col-lg-3 col-lg-offset-5 text-center" >
                    <p>De la Rotonda La Betania 500m al este, Carretera a Sabanilla<br />
                        Mercedes de Montes de Oca<br />
                        ​​Tel: 2234-3236 ext. 3270</p>
                    <a href="https://www.facebook.com"  style= "float: left;"> <img src="/static/img/facebook.png"  class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                    <a href="https://www.tuitter.com"   style= "float: left;"> <img src="/static/img/tuitter.png"   class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                    <a href="https://www.pinterest.com" style= "float: left;"> <img src="/static/img/pinterest.png" class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                    <a href="https://www.flikr.com"     style= "float: left;"> <img src="/static/img/flikr.png"     class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                    <a href="https://www.youtube.com"   style= "float: left;"> <img src="/static/img/youtube.png"   class="img-responsive" style=" width: 32px; height: 32px;" alt=""></a>
                </div>
            </div>
    </div>
</section>