<section class="bg-primary" id="mantenimientousuarios">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mantenimiento de usuarios</h2>
                <hr class="light">
            </div>
        </div>
        <form action="inicio">
            <div class="row">
                <div class="col-lg-7 text-right">
                    Usuario: <input type="text" name="user"><br />
                    Contrase&ntilde;a: <input type="text" name="pass"><br />
                    Confirmaci&oacute;n contrase&ntilde;a: <input type="text" name="passconf"><br />
                    Nombre: <input type="text" name="nombre"><br />
                    Apellidos: <input type="text" name="apellidos"><br />
                    Edad: <input type="text" name="edad"><br />
                    Rol : <input type="text" name="rol"><br />
                </div>
            </div>
            <div class="row" style="padding-top: 1em;">
                <div class="col-lg-8 col-lg-offset-2 text-center" >
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Enviar</a>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Borrar</a>
                </div>
            </div>
        </form>
    </div>
</section>